<!--<div class="container">

    <img src="./assets/images/background.JPG" style="width:1200px;height:700px;">

    <form action="/action_page.php">
        Birthday:
        <input type="date" name="bday">
        <input type="submit" value="Send">
    </form>

</div>-->
<div class="bg-img">


    <form action="/action_page.php" class="container">
        <div class="row">
            <div id="checkin">
                <a>Check in</a><br>
                <input type="date" name="checkin">
            </div>
            <div id="checkout">
                <a>Check Out</a><br>
                <input type="date" name="checkout">
            </div>
            <div id="adult">
                <a>Adult</a><br>
                <input id="no" type="number" name="adult" size="5">
            </div>
            <div id="children">
                <a>Children</a><br>
                <input id="no" type="number" name="children" size="5">
            </div>
            <div id="searchbtn">
                <input id="btn" type="button" value="Search">
            </div>

        </div>
    </form>



</div>
<footer style="margin-top: 20px;text-align: center;">
    © Copyright 2018-2019, All Rights Reserved
</footer>
<input type="button" value="Admin Log In" routerLink="/admin" style="background-color: white;color: green;border: white;margin-left:700px;">

<!---<div class="bg-img">
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-md-4">
                <div class="row row-sm-offset">
                    <div class="col-md-4 multi-horizontal" >
                        <div id="checkin" class="form-group">
                            <label>Check in</label><br>
                            <input type="date" name="checkin"><br>
                        </div>
                    </div>
                    <div class="col-md-4 multi-horizontal" >
                        <div id="checkout" class="form-group">
                            <input type="date" name="checkin"><br>
                            <label>Check Out</label><br>
                        </div>
                    </div>
                    <div class="col-md-4 multi-horizontal" >
                        <div  id="adult" class="form-group">
                            <label>Adult</label><br>
                            <input id="no" type="number" name="adult"><br>
                        </div>
                    </div>
                    <div class="col-md-4 multi-horizontal">
                        <div id="children" class="form-group">
                            <label>Children</label><br>
                            <input id="no" type="number" name="children"><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>!-->