
<table>
  <tr>
    <th>Guest Name</th>
    <th>Guest Room</th>
    <th>Room Vacancy</th>
    <th>Room Service</th>
  </tr>
  <tr>
    <td>Berwin Leong</td>
    <td>Room 123</td>
    <td>Occupied</td>
    <td>NO</td>
  </tr>
  <tr>
    <td>Soo Yuan</td>
    <td>Room 124</td>
    <td>Vacant</td>
    <td>YES</td>
  </tr>
  <tr>
    <td>Ting Chao Chong</td>
    <td>Room 125</td>
    <td>Occupied</td>
    <td>NO</td>
  </tr><tr>
    <td>Mhd Ismail Bin Mhd Ibrahim</td>
    <td>Room 126</td>
    <td>Vacant</td>
    <td>NO</td>
  </tr>
  <tr>
    <td>Berwin Leong</td>
    <td>Room 123</td>
    <td>Occupied</td>
    <td>NO</td>
  </tr>
  <tr>
    <td>Soo Yuan</td>
    <td>Room 124</td>
    <td>Vacant</td>
    <td>YES</td>
  </tr>
  <tr>
    <td>Ting Chao Chong</td>
    <td>Room 125</td>
    <td>Occupied</td>
    <td>NO</td>
  </tr><tr>
    <td>Mhd Ismail Bin Mhd Ibrahim</td>
    <td>Room 126</td>
    <td>Vacant</td>
    <td>NO</td>
  </tr>

</table>

<input type="submit" value="Log out" class="inputButton" routerLink="/reporting2" style="background-color:#2CADAD;margin-left:700px;margin-top: 30px;">
