<table>
  <tr>
    <th>Staff Name</th>
    <th>Staff Address</th>
    <th>Staff Contact</th>
    <th>Staff Duty</th>
  </tr>
  <tr>
    <td>Berwin Leong</td>
    <td>Blk 123 Hougang Avenue 8 #01-23</td>
    <td>8888 8888</td>
    <td>Security</td>
  </tr>
  <tr>
    <td>Soo Yuan</td>
    <td>Blk 123 Compassvale Walk #08-23</td>
    <td>1818 1818</td>
    <td>General Maintenance</td>
  </tr>
  <tr>
    <td>Ting Chao Chong</td>
    <td>Blk 123 Katong Road #05-23</td>
    <td>3838 3838</td>
    <td>Estate Maintenance</td>
  </tr><tr>
    <td>Mhd Ismail Bin Mhd Ibrahim</td>
    <td>Blk 123 Ubi Drive #02-23</td>
    <td>6868 6868</td>
    <td>Room Maintenance</td>
  </tr>
  <tr>
      <td>Berwin Leong</td>
      <td>Blk 123 Hougang Avenue 8 #01-23</td>
      <td>8888 8888</td>
      <td>Security</td>
    </tr>
    <tr>
      <td>Soo Yuan</td>
      <td>Blk 123 Compassvale Walk #08-23</td>
      <td>1818 1818</td>
      <td>General Maintenance</td>
    </tr>
    <tr>
      <td>Ting Chao Chong</td>
      <td>Blk 123 Katong Road #05-23</td>
      <td>3838 3838</td>
      <td>Estate Maintenance</td>
    </tr><tr>
      <td>Mhd Ismail Bin Mhd Ibrahim</td>
      <td>Blk 123 Ubi Drive #02-23</td>
      <td>6868 6868</td>
      <td>Room Maintenance</td>
    </tr>
    <tr>
        <td>Berwin Leong</td>
        <td>Blk 123 Hougang Avenue 8 #01-23</td>
        <td>8888 8888</td>
        <td>Security</td>
      </tr>
      <tr>
        <td>Soo Yuan</td>
        <td>Blk 123 Compassvale Walk #08-23</td>
        <td>1818 1818</td>
        <td>General Maintenance</td>
      </tr>
      <tr>
        <td>Ting Chao Chong</td>
        <td>Blk 123 Katong Road #05-23</td>
        <td>3838 3838</td>
        <td>Estate Maintenance</td>
      </tr><tr>
        <td>Mhd Ismail Bin Mhd Ibrahim</td>
        <td>Blk 123 Ubi Drive #02-23</td>
        <td>6868 6868</td>
        <td>Room Maintenance</td>
      </tr>

</table>

<input type="submit" value="Log out" class="inputButton" routerLink="/adminstuff" style="background-color:#2CADAD;margin-left:700px;margin-top: 30px;">