<div>
  <img src="./assets/images/picroom2.jpg" width="1800" height="300">
</div>

<h6 style="text-align:center;">ABOUT Delonix Regia Hotel </h6>
<hr style="width:100px;">
<p style="text-align: center;font-size: 12px;color:grey">When you come to a hotel room, you want it to be grand,
  functional and beautiful. But you don't want<br>
  things that are not useful. Sometimes you go to hotels and there are all these frames and pictures of <br>
  people you don't know, and you end up hiding everything in the drawer, and then housekeeping come and <br>
  put it out again. </p>

<div style="text-align: center;margin-top:80px;">
  <img src="./assets/images/about.jpg" width="500" height="300">
</div>

<h6 style="text-align:center;margin-top:50px;">HOTEL AMENITIES </h6>
<hr style="width:100px;">
<p style="text-align: center;color:#2A4357;font-size: 12px;">Free resident car parking</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Free high speed internet</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Free wifi access</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">24 hour reception and room service</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Business services</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Conference facilities</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Laundry facilities</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">DVD player</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Tea & coffee making facilities </p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Bespoke toiletries</p>
<p style="text-align: center;color:#2A4357;font-size: 12px;">Iron & ironing board</p>

<footer style="margin-top: 50px;text-align: center;">
  © Copyright 2018-2019, All Rights Reserved
</footer>