<div>
  <img src="./assets/images/picroom2.jpg" width="1800" height="300">
</div>
<h2 style="text-align:center;margin-top: 30px;">OUR ROOMS</h2>
<hr>
<h6 style="text-align:center">welcome to our rooms</h6>
<hr style="width:850px;">
<p style="font-size: 50px;margin-left:330px;margin-top:10px;"><strong>&larr;</strong></p>
<div class="vl"> </div>
<p>Superior Room</p>
<div class="container">
  <img id="bookimg" src="./assets/images/superior.jpg" width="500" height="230">

  <div id="ctn2" class="container">
    <form action="/action_page.php">
      <div class="row">

        <div >
          <h5 style="margin-bottom:-15px;margin-left:60px;margin-top:-25px;">From</h5>
          <h4 style="margin-top:20px;margin-left:60px;">$350</h4>
          <h5 style="margin-top:10px;margin-left:60px;">PER NIGHT</h5>
        </div>
        <div id="chckin">
          <a>Check in</a><br>
          <input type="date" name="checkin">
        </div>
        <div id="chckout">
          <a>Check Out</a><br>
          <input type="date" name="checkout">
        </div>
        <div id="adt">
          <a>Adult</a><br>
          <input id="no" type="number" name="adult" size="5">
        </div>
        <div id="cldrn">
          <a>Children</a><br>
          <input id="no" type="number" name="children" size="5">
        </div>
        <div id="srchbtn">
          <input style="background-color:#2E6792;color:white;" id="btn" type="button" value="Book Now">
        </div>

      </div>

    </form>
  </div>
  <div style="margin-left:305px;margin-top:-150px;" class="container">

    <img src="./assets/images/superior.jpg" style="width:5%">

    <img src="./assets/images/superior.jpg" style="width:5%">

    <img src="./assets/images/superior.jpg" style="width:5%">

    <img src="./assets/images/superior.jpg" style="width:5%">

  </div>
  <div id="bookctn" class="container" style="margin-top:-80px;">

    <a style="font-size: 15px;color:#2A4357;margin-left:300px; word-spacing: 80px;"><strong> Properties: </strong> </a><a>Accommodates:
      2</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a> Size: 280 sq ft</a><br>

    <a style="margin-left:461px;">Beds: 1 King(s)</a>
    <hr style="width:510px;margin-left:300px;">

    <a style="font-size: 15px;color:#2A4357;margin-left:300px; "><strong> More Info: </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>

    <a style=margin-left:-75px;>Elegant simplicity. Our Superior Rooms</a><br>
    <a style=margin-left:465px;>give you the space and privacy you need</a><br>
    <a style=margin-left:465px;>to work or play on the road. The spacious</a><br>
    <a style=margin-left:465px;>380 square foot rooms include an intimate</a><br>
    <a style=margin-left:465px;>lounge area, business workstation and</a><br>
    <a style=margin-left:465px;>views of the courtyard. Complete with all</a><br>
    <a style=margin-left:465px;>the regular amenities, our Superior Rooms</a><br>
    <a style=margin-left:465px;>also include a daily newspaper and water</a><br>
    <a style=margin-left:465px;>bottles.</a>
    <hr style="width:510px;margin-left:300px;">

    <a style="font-size: 15px;color:#2A4357;margin-left:300px;"><strong>Amenities: </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </a>
    <li style=margin-left:465px;word-spacing:20px;margin-top:-20px;>WIFI</li>
    <li style=margin-left:465px;word-spacing:20px;>TV</li>
    <li style=margin-left:465px;word-spacing:20px;>SAFE</li>
    <li style=margin-left:465px;word-spacing:20px;>MINIBAR</li>
    <li style=margin-left:465px;word-spacing:20px;>TELEPHONE</li>
    <li style=margin-left:465px;word-spacing:20px;>KITCHEN</li>
    <li style=margin-left:465px;word-spacing:20px;>SHOWER </li>
    <li style=margin-left:465px;word-spacing:20px;>BATHTUB</li>
    <li style=margin-left:465px;word-spacing:20px;>WORKSPACE</li>


    <hr style="width:510px;margin-left:300px;">

    <a style="font-size: 15px;color:#2A4357;margin-left:300px; word-spacing: 80px;"><strong> Terms:</strong> </a><u
      style="margin-left:115px;"> Read Our Policies</u>

    <hr style="width:510px;margin-left:300px;">

  </div>
  <footer style="margin-top: 500px;margin-left:600px;">
      © Copyright 2018-2019, All Rights Reserved
   </footer>