<div>
  <img src="./assets/images/contact.jpg" width="1800" height="300">
</div>

<h6 style="text-align:center;">CONTACT THE HOTEL </h6>
<hr style="width:100px;">
<p style="text-align:center;font-size: 12px;color:#2A4357">Do call us if anything is needed</p>
<div style="text-align: center;margin-top: 30px;">
  <img src="./assets/images/facebook.jpg" width="25" height="25">
  <img src="./assets/images/twitter.jpg" width="25" height="25">
  <img src="./assets/images/insta.jpg" width="25" height="25">
</div>
<p style="text-align:center;margin-top: 30px;font-size: 12px;">FOR GENERAL ENQUIRIES & FURTHER INFORMATION,<br>
  PLEASE CONTACT US: </p>

<div style="text-align:center;margin-top: 30px;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7190860237183!2d103.93455471470132!3d1.3449810990190578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da3d6aa66c6885%3A0xeb988bfed7b6814a!2sTemasek+Poly+East+G!5e0!3m2!1sen!2ssg!4v1549285061286"
    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label><br>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label><br>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="china">CHINA</option>
      <option value="usa">USA</option>
      <option value="SINGAPORE">SINGAPORE</option>
      <option value="msia">MALAYSIA</option>
    </select>

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

  </form>
</div>
<footer style="margin-top: 50px;text-align: center;">
  © Copyright 2018-2019, All Rights Reserved
</footer>