<table>
  <tr>
    <th>Staff Name</th>
    <th>Staff Duty</th>
    <th>Staff Allocation</th>
    
  </tr>
  <tr>
    <td>Berwin Leong</td>
    <td>Security</td>
    <td>Guard House</td>
   
  </tr>
  <tr>
    <td>Soo Yuan</td>
    <td>General Maintenance</td>
    <td>Service Room</td>
   
  </tr>
  <tr>
    <td>Ting Chao Chong</td>
    <td>Estate Maintenance</td>
    <td>Service Room</td>
    
  </tr><tr>
    <td>Mhd Ismail Bin Mhd Ibrahim</td>
    <td>Room Maintenance</td>
    <td>Room 124 </td>
   
  </tr>
  <tr>
    <td>Berwin Leong</td>
    <td>Security</td>
    <td>Guard House</td>
   
  </tr>
  <tr>
    <td>Soo Yuan</td>
    <td>General Maintenance</td>
    <td>Service Room</td>
   
  </tr>
  <tr>
    <td>Ting Chao Chong</td>
    <td>Estate Maintenance</td>
    <td>Service Room</td>
    
  </tr><tr>
    <td>Mhd Ismail Bin Mhd Ibrahim</td>
    <td>Room Maintenance</td>
    <td>Level 1 Hallway </td>
   
  </tr>
</table>

<input type="submit" value="Log out" class="inputButton" routerLink="/reporting2" style="background-color:#2CADAD;margin-left:700px;margin-top: 30px;">


