img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180%;
  }

  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-img {
    /* The image used */
    background-image: url("/assets/images/background.JPG");
  
    /* Control the height of the image */
    min-height: 700px;
  
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
  
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    text-align: center;
    margin-top: 50px;
    float: left;
    clear: both;
 }
    
   

a{
      font-size: 12px;
     
      
}

#checkin{
    margin-left: 400px;
}

#checkout{
    margin-left: 600px;
    margin-top:-55px;
}

#adult{
    margin-left: 800px;
    margin-top:-55px;

}
#children{
    margin-left: 880px;
    margin-top:-55px;

}
#searchbtn{
    margin-left: 960px;
    margin-top:-31px;
}
#no{
    width:50px;
}
#btn{
    width: 100px;
}